---javascript
// export a literal
const myString = "Hi";

// async-friendly
const myAsyncString = await Promise.resolve("HELLO FROM THE OTHER SIDE");

// export a function
function alwaysBlue() {
	return "blue";
}

// export via destructuring assignment
const { myKey } = { myKey: "myValue" };
const [ first, second ] = [ "first", "second" ];

// export via dynamic import
const { noop } = await import("@zachleat/noop");

// access Node.js globals like console.log
console.log({ noop });
---
<span>{{ myKey }}</span>
<span>{{ alwaysBlue() }}</span>

<!--  @zachleat/noop exports an async function -->
<span>{{ noop("hello") | await }}</span>